/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
  Setting the type to minor second modular scale
  http://www.modularscale.com/?1&em&1.067&web&text

*/

/* ===== BASE STYLES ===== */

html {
  font-size: 1em; /* 16 px */
  line-height: 1.5em; /* 24px / 16px = 1 gridline*/
  padding: .5em; /* 8 px*/
  background-color: ##9FE8D7; /*f9f9f2*/
  font-family: georgia;
}

img,
video {
  display: block;
  max-width: 100%;
}

/* ===== MODULAR STYLES ===== */
/* Resume */
.p-name {
  font-size:  1.296em;
}

.p-edu{
  font-size: 1.215em; /*1.215 */
  padding-top: .5em;
}

 .schools {
  font-weight:bold;
  padding: .5em;
}

  .degree {
  font-weight: normal;
}

  .p-work {
  font-size: 1.215em; /*1.215 */
  padding-top: .5em;
}

  .pos {
  font-weight: bold;
  padding: .5em;
}

  .resp {
  font-weight:normal;
}

  .skills {
  font-size: 1.215em;
  padding-top: .5em;
}

  .skil {
  font-size: .823em;
  padding: .5em;
}

/* Personal */
 .sum {
  font-size: 1.215em;
  padding-bottom: .5em;
}

  .favorites {
  font-size: 1.215em;
  padding-top: .5em;
  padding-bottom: .5em;
}

  .tvshow {
  font-size: .823em;
  padding-bottom: .5em;
}

  .kids {
  font-size: 1.215em;
  padding-top: .5em;
  padding-bottom: .5em;
}

  p,figcaption {
  line-height: .867 em;
  font-size: .937em;
  padding-bottom: .5em;
}

  .footer {
  font-size: .878em;
}
