/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
  Setting the type to minor second modular scale
  http://www.modularscale.com/?1&em&1.067&web&text

*/

/* ===== BASE STYLES ===== */

html {
  font-size: 1em; /* 16 px */
  line-height: 1.5em; /* 24px / 16px = 1 gridline*/
  padding: .5em; /* 24px / 16px = 1 gridline, 8px / 16x */
  background-color: #D3CBB7; /*f9f9f2*/
  font-family: georgia;
}

/* Navigation */

nav ul {
  font-size: 1.138em;
  line-height: 1.10902em;
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: .5em;
}

nav ul li {
  text-align:center;
  display: inline-block;
  background-color: #F2E3E6;

}

nav ul li a {
  display: block;
  text-align: center;
  font-family: georgia;
  color: #4B380A;
  text-decoration: none;
  border: dotted;
}

/* ===== LAYOUT STYLES ===== */

img, photo {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
 }

img,
video {
  display: block;
  max-width: 100%;
}

/* ===== MODULAR STYLES ===== */

.p-name {
  font-size:  1.296em; /* 20.736 / 16 px = 1.296em */
}

.p-edu{
  font-size: 1.215em; /* 19.44 / 16 px = 1.215em */
  padding-top: .5em; /* 8 / 16 px */
}

 .schools {
  font-weight:bold;
  padding: .5em; /* 8 / 16 px */
}

  .degree {
  font-weight: normal;
}

  .p-work {
  font-size: 1.215em; /* 19.44 / 16 px = 1.215em */
  padding-top: .5em; /* 8 / 16 px */
}

  .pos {
  font-weight: bold;
  padding: .5em; /* 8 / 16 px */
}

  .resp {
  font-weight:normal;
}

  .skills {
  font-size: 1.215em; /* 19.44 / 16 px = 1.215em */
  padding-top: .5em; /* 8 / 16 px */
}

  .skil {
  font-size: .823em; /* 13.168 / 16 px = .823em */
  padding: .5em; /* 8 / 16 px */
}

.intro h2 {
  font size: 1.575em; /* 25.2 / 16 px = .1.575em */
  font-style: oblique;
  text-align: center;
  padding-top: 1em; /* 16px */
  padding-bottom: 1em; /* 16px */
}

 .sum {
  font-size: 1.215em; /* 19.44 / 16 px = 1.215em */
  padding-bottom: .5em; /* 8 / 16 px */
}

  .favorites {
  font-size: 1.215em; /* 19.44 / 16 px = 1.215em */
  padding-top: .5em; /* 8 / 16 px */
  padding-bottom: .5em; /* 8 / 16 px */
}

  .tvshow {
  font-size: .823em; /* 13.168 / 16 px = .823em */
  padding-bottom: .5em; /* 8 / 16 px */
}

  .kids {
  font-size: 1.215em; /* 19.44 / 16 px = 1.215em */
  padding-top: .5em; /* 8 / 16 px */
  padding-bottom: .5em; /* 8 / 16 px */
}

  p,figcaption {
  line-height: .867 em; /* 13.872 / 16 px = .867em */
  font-size: .937em; /* 14.992 / 16 px = .937em */
  padding-bottom: .5em; /* 8 / 16 px */
}

  .footer {
  font-size: .878em; /* 13.872 / 16 px = .867em */
}


/* ===== STATE STYLES ===== */
  @media screen and (min-width: 20em) { /*320 pixels*/
  #footer{
    text-align: center;
  }
}

  @media screen and (min-width: 37.5em) { /*600 pixels*/
/* resume page */
  .p-name,
  .p-edu,
  .p-work,
  .skills h2  {
  text-align:center;
  display: block;
  background-color: #F2E3E6;
  padding-top: 0em;
}

  .h-card {
  text-align: center;
}

/* nailsbymaria page */
  #main {
  text-align:center;
  display: block;
  background-color: #F2E3E6;
  padding-bottom: 0em;
}

/* aboutme page */

/*Attempting to center video */
  .video, controls {
  display: block;
  max-width: 100%;
  position: center;
  margin-left: auto;
  margin-right: auto;
}

  h2  {
  text-align:center;
  display: block;
  background-color: #F2E3E6;
  padding-bottom: 0em;
}

  .tvshow {
  text-align:center;
}


}

