/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting the type to minor third modular scale
  http://www.modularscale.com/?1&em&1.067&web&text

*/

html {
  font-size: 1.138em; /* 18.208px */
  line-height: 1.208em; /* 22px/ 19.4= 1 gridline*/
  padding: 1.208em 1em; /**/
  background-color: #DAC0AD;
  font-family: georgia;
}

h3 {
  font-size: 1.383em; /* 22.128 */
  line-height: 1.132em;
  padding: 1.132em 1 em;
}

header {
  font-weight: bold;
}

.education {
  font-weight: bold;
}

.work-experience {
  font-size: 1.138
  font-weight: bold;
  padding-bottom: 15px; /* Will Convert */
}

ul {
  font-size: 1em;
  line-height:1.208em;
  text-indent: 1em;
}

li  {
  font-size: 1em;
  padding-bottom: 15px; /* Will Convert */
{

p {
  font-size: 1em;
}
