/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
  Setting the type to minor third modular scale 4:5
  http://www.modularscale.com/?1&em&1.067&web&text

<!--http://paletton.com/#uid=1000u0k5zuM00++1hSdaPl+ds9Q || #7D6262-->
*/

/* ===== BASE STYLES ===== */

html {
  font-size: 1.125em; /* 18 px / 16 */
  line-height: 1.222em; /* 22px / 18px = 1 gridline*/
  background-color: #F5CBCB; /*f9f9f2*/
  font-family: 'Lora', serif;
  font-family: 'Sacramento', cursive;
  font-family: 'Ruluko', sans-serif;
  font-family: 'Gentium Basic', serif;
  color: #332426;
}

/* ===== LAYOUT STYLES ===== */

img, photo {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
 }

img,
video {
  display: block;
  max-width: 100%;
}

/* ===== MODULAR STYLES ===== */

  h1 {
  padding-left:.5em;
}
  .bio {
  font-size: 1.296em; /*36px/18px */
  text-transform: uppercase;
  padding-top:.5em;
  color:#7D6262;
}

  .shortbio {
  font-size: 1.215;
  padding-top:.5em;
  text-transform: uppercase;
  color:#fff;
}

  a:link {
  color:#fff;
  text-decoration:none;
}
  a:hover {
  color:#7D6262;
}

  .u-email, u-url {
  font-size: 1em;
  padding-top: .25em;
}

  h3 {
  font-size: 1.476em;
  padding-top: .5em;
  padding-bottom: .25em;
  padding-left: .25em;
}

  h4 , li {
  padding-left: 1.25em;
}
  h5 {
  text-transform:uppercase;
  padding-top: .5em;
  text-decoration: underline;
  }

  .stat {
  padding-left: .5em;
  text-transform:uppercase;
  text-decoration:bold;
}

  .date {
  padding-top: .5em;
  }

  .company, .location, .school, .position {
  padding-left:1.25em;
  text-transform:uppercase;
}

  .activity {
  padding-left: .5em;
}
  .degree {
  padding-left:.5em;
}
  li {
  padding-bottom: .25em;
}

  footer {
  text-align: center;
  font-size: .937em;
  padding-left:.25em;
  padding-right: .25em;
  padding-bottom:.5em;
  padding-top: .5em;

  }


/* ===== STATE STYLES ===== */
  @media screen and (min-width: 20em) { /*320 pixels*/

}/* End 320px */

  @media screen and (min-width: 37.5em) { /*600 pixels*/

}/* End 600px */

  @media screen and (min-width: 50em) { /*800 pixels*/

}/* End 800px */


}/*end*/

